*.js linguist-language=JavaScript
*.html linguist-vendored=true
*.css linguist-vendored=true
*.scss linguist-vendored=true
*.min.js linguist-vendored=true
assets/** linguist-vendored
node_modules/** linguist-vendored